/*  H E A D E R  */

.header_block {
  text-align: center;
}

.page_title {
  cursor: default;

  margin: 15px 0px 15px;

  font-size: 30px;
  letter-spacing: 0.3em;

  background: -webkit-linear-gradient(#e26600, #7a2df6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_block {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 60px;


}

.nav_block span {
  padding: 5px 15px;

  display: block;
  border-radius: 50px;

  cursor: pointer;
}

.group_box {
  position: relative;

}

.group_box h3{
  cursor: pointer;
  font-size: 42px;
  letter-spacing: 0.3em;

  font-weight: 700;

  background: -webkit-linear-gradient(#e26600, #7a2df6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.group_people_list {
  overflow: hidden;
  margin-top: 20px;
  padding: 40px 30px ;

  position: absolute;

  
  left: 50%;

  transform: translate(-50%,0);

  opacity: 0;

  width: 500px;

  height: 0;
  

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);

  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 25px;

  border-radius: 50px;

}

.group_people_list::before {
  position: absolute;

  content: '';

  width: 23px;
  height: 23px;

  background: rgba(0, 0, 0, 0.7);

  top: -11px;
  left: 48%;

  transform: translate(0, -50%);

  transform: rotate(-135deg);
}

.group_people_list h4 {
  cursor: pointer;
  font-size: 42px;
  letter-spacing: 0.3em;

  font-weight: 700;

  margin-bottom: 35px;

  background: -webkit-linear-gradient(#e26600, #7a2df6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.people_list {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.people_link {
  font-size: 28px;
  font-weight: 400;

  color: #000000;
}

.group_box:hover .group_people_list {
  z-index: 1;
  opacity: 1;

  height: 680px;

  transition: all 0.5s ease-in;
}

.team-lead,
.scrum-master {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 35px;
    border: 1px solid #e26600;
}

.team-lead:hover,
.scrum-master:hover {
    background: #e26600;
    color: #ffffff;
}

main {
  position: relative;
}

.book_tree--wrapper {
  position: relative;

 padding-top: 50px;

  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 65px;
  align-items: center;
}

.book_tree--wrapper::after {
  content: "";
z-index: -1;

position: absolute;

width: 1000px;
height: 300px;

right: 30px;
bottom: 0px;

background: url(./../image/background.jpg) no-repeat;
background-position: 50%;

}

.tree_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.image_block {
    position: relative;

    margin: 0px 50px;

    min-width: 450px;
    max-height: 600px;
}

.image_block img {
  min-width: 450px;
  max-height: 600px;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 25px;
}

.book_tree--wrapper img:hover {
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 35px;
}

.book_about {
    opacity: 0;
padding: 15px;

    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 35px;

    overflow: scroll;
    transition: all 0.3s ease-in;
}

.book_about-text {
    color: #ffffff;
    font-size: 13px;
    line-height: 1.5em;
}

.book_about-text p {
    font-size: 14;
    font-weight: 600;
}

.image_block:hover .book_about {
    opacity: 1;
    transition: all 0.3s ease-in;
}

.tree_hover_link {
  cursor: pointer;
  position: relative;

  padding: 20px 25px;

  width: 500px;

  
  border-radius: 50px;
}

.book_tree--first .tree_hover_link {
  background: #7656f3;
}

.book_tree--two .tree_hover_link {
  background: #f45f20;
}


.tree_hover_link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;

  background: rgb(234, 237, 242);

  transition: all 0.3s ease-in;
}

.tree_hover_link h2 {
  font-size: 14px;

  color: #ffffff;

  font-weight: 500;

  text-align: center;
}

.tree_hover_link:hover.tree_hover_link h2 {
  color: #000000;
}

.content_block {
  display: none;
  cursor: pointer;

  padding: 30px;
  width: 650px;

  border-radius: 50px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  font-weight: 500;
  font-size: 13px;

  color: #ffffff;

  overflow: hidden;
}

.content_block.list-one {
  background: rgba(72, 61, 139, 0.9);
}

.content_block.list-two {
  background: rgba(212, 105, 5, 0.9)
}

.content_block p {
  font-weight: 400;
}


/* C o l u m n  o n e  */

.tree_hover_link_one:hover .content_block,
.tree_hover_link_two:hover .content_block,
.tree_hover_link_three:hover .content_block,
.tree_hover_link_four:hover .content_block,
.tree_hover_link_five:hover .content_block,
.tree_hover_link_six:hover .content_block,
.tree_hover_link_seven:hover .content_block,
.tree_hover_link_eight:hover .content_block,
.tree_hover_link_nine:hover .content_block {
  display: block;

  z-index: 1;
  position: absolute;

  top: 65px;
  right: -500px;
}

.tree_hover_link_one:hover .content_block::before,
.tree_hover_link_two:hover .content_block::before,
.tree_hover_link_three:hover .content_block::before,
.tree_hover_link_four:hover .content_block::before,
.tree_hover_link_five:hover .content_block::before  {
  z-index: 1;
  position: absolute;
  content: "";

  width: 23px;
  height: 23px;

  top: -11px;
  left: 70px;

  transform: rotate(135deg);

  background: rgb(234, 237, 242);
}

.tree_hover_link_four:hover .content_block {
  top: 65px;
}

.content_block::before.tree_hover_link_eigh {
  bottom: 100px;
}

.tree_hover_link_six:hover .content_block {
  top: -390px;
}

.tree_hover_link_seven:hover .content_block{
    top: -310px;
}

.tree_hover_link_eight:hover .content_block {
  top: -280px;
}

.tree_hover_link_nine:hover .content_block { 
    top: -310px;
}

.tree_hover_link_six:hover .content_block::before,
.tree_hover_link_seven:hover .content_block::before,
.tree_hover_link_eight:hover .content_block::before,
.tree_hover_link_nine:hover .content_block::before {
    z-index: 1;
  position: absolute;
  content: "";

  width: 23px;
  height: 23px;

  bottom: -11px;
  left: 70px;

  transform: rotate(135deg);

  background: rgb(234, 237, 242);
}

/*  L I S T  T W O  */

.tree_hover_link_ten:hover .content_block,
.tree_hover_link_eleven:hover .content_block,
.tree_hover_link_twelve:hover .content_block,
.tree_hover_link_thirteen:hover .content_block,
.tree_hover_link_fourteen:hover .content_block,
.tree_hover_link_fifteen:hover .content_block,
.tree_hover_link_sixteen:hover .content_block,
.tree_hover_link_seventeen:hover .content_block,
.tree_hover_link_eighteen:hover .content_block {
  display: block;

  z-index: 1;
  position: absolute;

  top: 65px;
  right: 330px;
}

.tree_hover_link_fifteen:hover .content_block,
.tree_hover_link_sixteen:hover .content_block,
.tree_hover_link_seventeen:hover .content_block,
.tree_hover_link_seventeen:hover .content_block,
.tree_hover_link_eighteen:hover .content_block {
  top: -310px;
}

.tree_hover_link_eighteen:hover .content_block {
  top: -200px;
}





.tree_hover_link_ten:hover .content_block::before,
.tree_hover_link_eleven:hover .content_block::before,
.tree_hover_link_twelve:hover .content_block::before,
.tree_hover_link_thirteen:hover .content_block::before,
.tree_hover_link_fourteen:hover .content_block::before {
  z-index: 1;
  position: absolute;
  content: "";

  width: 23px;
  height: 23px;

  top: -11px;
  right: 100px;

  transform: rotate(135deg);

  background: rgb(234, 237, 242);
}


/*    */

.tree_hover_link_one {
  position: relative;
}

.tree_hover_link_one::before {
  position: absolute;
  display: inline-block;
  content: "";

  width: 2px;
  height: 350px;

  top: 50px;
  right: -60px;

  transform: rotate(-19deg);

  background: rgba(72, 61, 139, 1);

  transition: all 0.3s ease-in;
}

.tree_hover_link_one:hover.tree_hover_link_one::before,
.tree_hover_link_two:hover.tree_hover_link_two::before {
  background: #ff0000;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
  box-shadow: 0px 10px 10px 0px rgba(255, 0, 0, 1);

  transition: all 0.2s ease-in;
}

.tree_hover_link_two::before {
  position: absolute;
  content: "";

  width: 2px;
  height: 280px;

  top: 45px;
  right: -60px;

  transform: rotate(-25deg);

  background: rgba(72, 61, 139, 1);
}

.tree_hover_link_three::before {
  position: absolute;
  content: "";

  width: 2px;
  height: 210px;

  top: 30px;
  right: -65px;

  transform: rotate(-30deg);

  background: rgba(72, 61, 139, 1);
}

/* .tree_hover_link_four::before{
    position: absolute;
    content: '';

    width: 2px;
    height: 110px;


    top: 15px;
    right: -60px;

    transform: rotate(-68deg);

    background: #f45f20;
} */

/* .tree_hover_link_eight::before{
    position: absolute;
    content: '';

    width: 2px;
    height: 280px;


    top: -240px;
    right: -60px;

    transform: rotate(22deg);

    background: #f45f20;
} */
